<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" (click)="updateTitle('Dashboard')">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a>
  <a mat-list-item routerLink="/opportunities" (click)="updateTitle('Opportunities')">
    <mat-icon>business</mat-icon> Opportunities
  </a>
  <a mat-list-item routerLink="/policy-holders" (click)="updateTitle('Policy Holders')">
    <mat-icon>people</mat-icon> Policy Holders
  </a>
  <a mat-list-item routerLink="/policies" (click)="updateTitle('Policies')">
    <mat-icon>description</mat-icon> Policies
  </a>
</mat-nav-list>